<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">


	<!-- Welcome Pages -->
	<welcome-file-list>
		<welcome-file>Partnerboerse.html</welcome-file>
		<welcome-file>PartnerboerseReports.html</welcome-file>
	</welcome-file-list>

	<!-- Servlets -->


	<servlet>
		<servlet-name>administrationServlet</servlet-name>
		<servlet-class>de.hdm.gruppe7.partnerboerse.server.PartnerboerseAdministrationImpl</servlet-class>

	</servlet>

	<servlet>
		<servlet-name>reportServlet</servlet-name>
		<servlet-class>de.hdm.gruppe7.partnerboerse.server.report.ReportGeneratorImpl</servlet-class>
	</servlet>
	
		<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>de.hdm.gruppe7.partnerboerse.server.LoginServiceImpl</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>administrationServlet</servlet-name>
		<url-pattern>/partnerboerse/admin</url-pattern>
		<url-pattern>/partnerboersereports/admin</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>reportServlet</servlet-name>
		<url-pattern>/partnerboersereports/report</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/partnerboerse/login</url-pattern>
		<url-pattern>/partnerboersereports/login</url-pattern>
	</servlet-mapping>


</web-app>