body {
    text-align: center;  /* Zentrierung im Internet Explorer */
  }

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 20px;
  text-align: center;
}

div#Header {
	margin: 5px; 	
	background: #CCCCFF
}

div#Navigator {
	max-height: 300px;
	overflow:scroll;
	padding: 1em 1em;
	
	background: #FFFF99;
}

div#Details {
	padding: 4em 1em;
	
	background: #FFFF99;
}

div#Trailer {
	clear: both;
	padding: 10px 0;
	margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
	border-top: 1px dashed silver;
	font-size: 80%;
	text-align: center;
	
	background: #FFCCCC;
}


.partnerboerse-menubutton {
	font-size: 100%;
	font-weight: bold;
	width: 15em;
	margin-bottom: 1em;
}

/* MERKLISTE BEGINN */ 

.merklisteHeader {
  background-color: #808080;
  color: white;
}
 
.merklisteFlexTable {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}

/* MERKLISTE ENDE */



/* /* .sendButton {
  display: block;
  font-size: 16pt;
}

* Most GWT widgets already have a style name defined
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

* Set ids using widget.getElement().setId("idOfElement")
#closeButton {
  margin: 15px 6px 6px;
}
 */ 
